/*.user_pic_d img {
	max-width: 80%;
	display: inline-block;
	vertical-align: middle;
	border: none;
}*/
.noRecord{
    text-align: center;
    /*margin-top: 10%;
    float: left;*/
	padding-top:150px;
}

/****add css****/
.post_row:last-child{
    border-bottom: 1px solid #eeeeee;
}
.scrl_inr{
    padding-bottom: 0px;
}
#logout_modal .modal-dialog {
border: 1px solid #d3d3d3;
border-radius: 5px;
left: 50%;
margin: 0;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
width: 265px;
}

#logout_modal .modal-body span {
display: block;
font-size: 14px;
color: #434242;
text-align: center;
}
#settaskconfirm_modal .modal-dialog {
border: 1px solid #d3d3d3;
border-radius: 5px;
left: 50%;
margin: 0;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
width: 265px;
}
#settaskconfirm_modal .modal-body span {
display: block;
font-size: 14px;
color: #434242;
text-align: center;
}
#sectionE .comnt_outr {
height: 160px;
}
#lostConfy_modal .modal-dialog {
border: 1px solid #d3d3d3;
border-radius: 5px;
left: 50%;
margin: 0;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
width: 265px;
}
#lostConfy_modal .modal-body span {
display: block; 
font-size: 14px;
color: #434242;
text-align: center;
}
#successMsg_modal .modal-dialog {
border: 1px solid #d3d3d3;
border-radius: 5px;
left: 50%;
margin: 0;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
width: 265px;
}
#successMsg_modal .modal-body span {
display: block; 
font-size: 14px;
color: #434242;
text-align: center;
}

.inner_right {
min-height: 500px;
float: right;
}

.taskDesUser:hover{
    background-color: #fff;
}
.performance-table-tr.performance-active .performance-table-td
{
    background-color: #fff;
}
.performance-table-tr.performance_class2.performance-active .performance-table-td{
    background: none;
}
.performance_class2:hover {
    background-color: rgba(84, 201, 232, 0.2);
}

#lostConfy_modal2 .modal-dialog {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 265px;
}
#lostConfy_modal2 .modal-body span {
display: block; 
font-size: 14px;
color: #434242;
text-align: center;
}

#lostConfy_modal3 .modal-dialog {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    width: 265px;
}
#lostConfy_modal3 .modal-body span {
display: block; 
font-size: 14px;
color: #434242;
text-align: center;
}