/*.user_pic_d img {
	max-width: 80%;
	display: inline-block;
	vertical-align: middle;
	border: none;
}*/
.noRecord{
    text-align: center;
    margin-top: 10%;
}

/****add css****/
.post_row:last-child{
    border-bottom: 1px solid #eeeeee;
}